<div id="build" class="well">
  <nav class="nav nav-pills" id="buildSingleNav">
    <li><a id="changeName">Name</a></li>
    <li><a id="changeEmail">E-mail</a></li>
  </nav>
  <div id="singleForm">
  </div>
  <nav class="nav nav-pills" id="buildNav">
    <li><a id="addEducation">Education</a></li>
    <li><a id="addEmployment">Employment</a></li>
    <li><a id="addSkill">Skill</a></li>
    <li><a id="addInterest">Interest</a></li>
    <li><a id="addProfile">Profile</a></li>
  </nav>
  <div id="buildForm">

  </div>
  <div id="resume">

  </div>
</div>