<form role="form" id="changeForm">
{{#each attributes}}
  <div class="form-group">
    <label for="{{@key}}">{{@key}}</label>
    <input type="text" class="form-control" name="{{@key}}" placeholder="" value={{this}}>
  </div>
{{/each}}
  <button type="submit" id="changeName" class="btn btn-default btn-lg btn-block">Save</button>
</form>