<form role="form" id="edForm">
  <div class="form-group">
    <label for="degree">Degree</label>
    <input type="text" class="form-control" name="degree" placeholder="Bachelor of Science" {{#if degree}}value={{degree}}{{/if}}>
  </div>
  <div class="form-group">
    <label for="attended">Attended</label>
    <input type="text" class="form-control" name="attended" placeholder="2003-2007" {{#if attended}}value={{attended}}{{/if}}>
  </div>
  <div class="form-group">
    <label for="school">School</label>
    <input type="text" class="form-control" name="school" placeholder="Bovine University" {{#if school}}value={{school}}{{/if}}>
  </div>
  <div class="form-group">
    <label for="major">Major</label>
    <input type="text" class="form-control" name="major" placeholder="Meme Studies" {{#if major}}value={{major}}{{/if}}>
  </div>
  <button type="submit" id="addEducation" class="btn btn-default btn-lg btn-block">Save</button>
</form>