{{#each attributes}}
    <td><input type="text" name={{@key}} value={{this}}></td>
{{/each}}
<td class="text-right"><button type="submit" id="save" class="btn btn-default btn-block">Save</button></td>
