{{#each attributes}}
    <td><input type="text" name={{this.[0]}} value={{this.[1]}}></td>
{{/each}}
<td class="text-right"><button type="submit" id="save" class="btn btn-default btn-block">Save</button></td>
