<form role="form" id="interestForm">
  <div class="form-group">
    <label for="interest">Interest</label>
    <input type="text" class="form-control" name="interest" placeholder="Wearable smart devices" {{#if interest}}value={{interest}}{{/if}}>
  </div>
  <button type="submit" id="addInterest" class="btn btn-default btn-lg btn-block">Save</button>
</form>