<form role="form" id="profileForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" placeholder="GitHub" {{#if profile}}value={{profile}}{{/if}}>
  </div>
  <div class="form-group">
    <label for="url">URL</label>
    <input type="text" class="form-control" name="url" placeholder="https://github.com/maxmechanic" {{#if profile}}value={{profile}}{{/if}}>
  </div>
  <button type="submit" id="addProfile" class="btn btn-default btn-lg btn-block">Save</button>
</form>