<form role="form" id="skillForm">
  <div class="form-group">
    <label for="skill">Skill</label>
    <input type="text" class="form-control" name="skill" placeholder="Fluent in GolfScript" {{#if skill}}value={{skill}}{{/if}}>
  </div>
  <button type="submit" id="addSkill" class="btn btn-default btn-lg btn-block">Save</button>
</form>